body
{
	background:url(../img/backnew.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 50px;
}
nav
{
	font-family: '微软雅黑';
	float: right;
	padding-right: 100px;
	color: #777;
	border:0;
}
nav a
{
	color: #777;
	background: transparent;
	border:0;
	font-size: 1.3em;
}
nav a:hover
{
	color: white;
	background: transparent;
	border:0;
}

nav a:active
{
	color: white;
	background: transparent;
	border:0;
}


/*巨幕*/
.jumbotron
{
	box-shadow: 5px 5px 50px 10px rgba(3,3,5,0);
	padding: 0;
	color: #777;
	background:rgba(3,3,5,0);
}
.jumbotron h1
{
	display: block;
	text-align: center;
	margin:120px 0 0 0;
	color: #777;
	font-family: '微软雅黑';
}
.jumbotron p
{
	display: block;
	text-align: center;
	margin:30px 50px;
}
.jumbotron .whiteLine
{
	height: 0;
	width: 550px;
	border:1px solid white;
	background: transparent;
	font-size: 0;
	padding:0;
}
.jumbotron .container
{
	padding: 2em;
	opacity: 0.8;
/*	max-width: 865px;
	min-height: 500px;
	max-height: 650px;*/
	width: 100%;
/*	height: 900px;*/
	background-repeat: no-repeat;
	background-size: cover;
	background:transparent;
	transition:0.3s linear;
}
.jumbotron .container:hover
{
	opacity: 1;
	transform:scale(1.2);
}
.jumbotron a
{
	position: relative;
	background: none;
	border:2px solid rgba(205,205,205,0.5);
	transition:0.3s linear;
}
.jumbotron a:hover
{
	background:none;
	border:2px solid rgba(205,205,205,1);
	transform: scale(1.2);
}
/*幽灵按钮*/
.jumbotron a:hover .top
{
	width: 5em;
	background: #ccc;
	top:-2px;
	left:0.5em;
}
.jumbotron a .top
{
	position: absolute;
	height: 1px;
	width: 0;
	background: rgb(205,205,205);
	top:-2px;
	left:-200px;
	transition:0.3s linear;
}
.jumbotron a:hover .bottom
{
	width: 5em;
	background: #ccc;
	bottom:-2px;
	right:0.5em;
}
.jumbotron a .bottom
{
	position: absolute;
	height: 1px;
	width: 0;
	background: rgb(205,205,205);
	bottom:-2px;
	right:-200px;
	transition:0.3s linear;
}
.jumbotron a:hover .left
{
	height: 1.5em;
	background: #ccc;
	bottom:0.5em;
}
.jumbotron a .left
{
	position: absolute;
	width: 1px;
	height: 0;
	background: rgb(205,205,205);
	bottom:-200px;
	left:-2px;
	transition:0.3s linear;
}
.jumbotron a:hover .right
{
	height: 1.5em;
	background: #ccc;
	top:0.5em;
}
.jumbotron a .right
{
	position: absolute;
	width: 1px;
	height: 0;
	background: rgb(205,205,205);
	top:-200px;
	right:-2px;
	transition:0.3s linear;
}









/*幽灵按钮结束*/
.container div
{
	background:rgba(3,3,5,0.5);
	margin:auto;
	margin-top:35px;
	padding: 1px;
}
.thumbnail
{
	opacity: 0.5;
	margin: 30px;
	/*box-shadow: 5px 5px 50px 10px rgb(3,3,5);*/
	color: white;
	background:rgba(34,34,34,0.8);
	border: 0;
	transition:0.1s linear;
}
.thumbnail img
{
	margin: 1em auto auto auto;
	border-radius: 1em;
	box-shadow: -5px -5px 100px 10px rgb(3,3,5);
}
.thumbnail:hover
{
	opacity: 1;
	transform:scale(1.1);
}
.thumbnail p,.thumbnail h3
{
	text-align: center;
	color: white;
	transition:1s linear;
}
.learnmore
{
	color: white;
	font-size: 1.5em;
	height: 1.5em;
	width: 6em;
	line-height: 1.5em;
	margin: 1em auto 0 auto;
	border:1px solid white;
	display: block;
	border-radius: 1.5em;
	transition:0.2s linear;
}
.learnmore:hover
{
	width: 15em;
	color: white;
	text-decoration: none;
	transform:scale(1.2);
}
.learnmore:visited
{
	text-decoration: none;
	color: white;
	text-decoration: none;
}
.learnmore:link
{
	text-decoration: none;
	color: white;
	text-decoration: none;
}
.learnmore:active
{
	text-decoration: none;
	color: white;
	text-decoration: none;
}
/*面板*/
.panel
{
	background:transparent;
}
.panel-heading
{
	color: #CCC;
	background:transparent;
}
.foot
{
	background: #263238;
	color: white;
}
small
{
	margin:auto;
	text-align: center;
	display: block;
}
/*动画*/
#headline2
{
	display: none;
}
@keyframes myfirst
{
from {opacity: 1;}
to {opacity: 0}
}

@-moz-keyframes myfirst /* Firefox */
{
from {opacity: 1;}
to {opacity: 0}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
from {opacity: 1;}
to {opacity: 0}
}

@-o-keyframes myfirst /* Opera */
{
from {opacity: 1;}
to {opacity: 0}
}